@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/***VARIABLES***/
$tomato: hsl(4, 100%, 67%);
$darkSlateGrey: hsl(234, 29%, 20%);
$charcoalGrey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);
/***VARIABLES***/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
}

@mixin primary-btn {
  padding: 1.2rem;
  color: $white;
  background-color: $darkSlateGrey;
  font-size: 0.9rem;
  font-weight: 700;
  border: 0;
  border-radius: 0.5rem;
}

@mixin big-screen {
  @media screen and (min-wdith: 1440px) {
    @content;
  }
}
